#process ul{
	text-align:center;
}
#process ul li{
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	display:inline-block;
	width:198px;
	position:relative;
}

#process ul li .fa{
	background:#ccc;
	width:23px;
	height:23px;
	color:#fff;
	border-radius:50%;
	padding:3px;
}

#process ul li .fa::after{
	content:'';
	background:#ccc;
	height:7px;
	width:204px;
	display:block;
	position:absolute;
	left:0;
	top:88px;
	z-index:-1;
}

#process ul li:nth-child(1) .fa{
	background:#148e14;
}
#process ul li:nth-child(1) .fa::after{
	background:#148e14;
}

#process ul li:nth-child(1) .fa.changed:after{ 
	background: #60aa97;
}

#process ul li:nth-child(2) .fa.changed1:after{ 
	background: #148e14;
}
#process ul li:nth-child(2) .fa.changed2:after{ 
	background: #60aa97;
}
#process ul li:nth-child(3) .fa.changed:after{ 
	background: #148e14;
}

#process ul li:first-child .fa::after{
	width:105px;
	left:100px;
}
#process ul li:last-child .fa::after{
	width:105px;
}

#content{
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	height:100vh;
	display:grid;
	justify-content:center;
	align-items:center;
	font-size:1.9rem;
}

#table{
	border-collapse:collapse;
	box-shadow:0 5px 10px #DCE8F5;
	overflow:hidden;
	border-radius: 20px;
	background-color:#7DB0E6;
	text-align:left;

}

thead{
	box-shadow:0 5px 10px #7DB0E6;
}
	
th{
	padding:1rem 2rem;
	text-transform:uppercase;
	letter-spacing:0.1rem;
	font-size:1.7rem;
	font-weight:900;
	background-color:#7DB0E6;
}
	
td{
	padding:1rem 2rem;
	font-size:1.4rem;
}
	
#status{
	border-radius:20px;
	background-color:red;
	padding:0.2rem 1rem;
	text-align:center;		
}

	
tr:nth-child(odd){
	background-color:#DCE8F5;
}

