body{
	background:radial-gradient(circle at center,#FFFFFF,#FFFCEC);
}

.content{
	font-family: Work Sans;
	font-style: normal;
	font-weight: bold;
	height:100vh;
	display:grid;
	justify-content:center;
	align-items:center;
	font-size:1.9rem;
}

#table{
	border-collapse:collapse;
	box-shadow:0 5px 10px #AEB4B1;
	overflow:hidden;
	border-radius: 20px;
	background-color:#E4E6C3;
	text-align:left;
	position:absolute;
	top:170px;
	left:520px;
}

thead{
	box-shadow:0 5px 10px #E4E6C3;
}
	
th{
	padding:1rem 2rem;
	text-transform:uppercase;
	letter-spacing:0.1rem;
	font-size:1.7rem;
	font-weight:900;
	background-color:#E4E6C3;
}
	
td{
	padding:1rem 2rem;
	font-size:1.4rem;
}
	
#status{
	border-radius:20px;
	background-color:red;
	padding:0.2rem 1rem;
	text-align:center;		
}


	
tr:nth-child(odd){
	background-color:#FFFCEC;
}

